h1 /ascii/

form(method='post')
      label
        div title
        input(type='text', name='title')
      label
        div art
        textarea(name='art')
        .error #{error}
      input(type='submit')


