h1 /ascii/

form(method='post')
      label
        div title
        input(type='text', name='title', value =title)
      label
        div art
        textarea(name='art', value = 'art')
        .error #{error}
      input(type='submit')

each bpost in posts
  li= bpost.title




